<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body style="background-color:#D3D3D3">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<nav>
  <a class="btn btn-primary" href="/" role="button">Home</a>
  <a class="btn btn-primary" href="/space_stations" role="button">Space Stations</a>
  <a class="btn btn-primary" href="/astronauts" role="button">Astronauts</a>
</nav>


  <img style="max-width:100%" src="https://apod.nasa.gov/apod/image/2205/CoiffeesMW_Barakat_6700.jpg" alt="">
</body>
