<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1>Welcome to the Space Station Manager</h1>

<p><%= link_to "Space Stations", "/space_stations" %></p>
<p><%= link_to "Astronauts", "/astronauts" %></p>
